
.card {
  width: 103%;
  /*height: 400px;*/
  height: 103%;
  padding: 10px;
  position: relative;
  left: -5px;
  top: -5px;
  border-radius: 10px;
  /*border: 1px black solid;*/
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 3px solid transparent;
  background-color: whitesmoke;
  background-image: url('../dust_scratches.png');
  background-repeat: repeat;
  z-index: 111;
  cursor: pointer;
}

.CARD_ID {
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.7em;
}


.card_focus {
  z-index: 999;
}

.card_selected {
  box-shadow: none;
  /*
  box-shadow: skyblue 0px 15px 30px, skyblue 0px 12px 12px;
  background: repeating-linear-gradient(
    45deg,
    whitesmoke,
    whitesmoke 10px,
    white 10px,
    white 20px
  );
   */
  border: 3px solid skyblue;
}

.card_title_section {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.card_name {
  margin-left: 0.23em;
  font-size: 1.3em;
  font-weight: bold
}

.card_divider_section {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.card_divider_line {
  height: 3px;
  width: 100%;
  background-color: lightgrey;
}

.card_no_open_frame {
  text-align: center;
  height: 29px;
  width: 29px;
  background-color: lightgrey;
  border-radius: 50%;
  display: inline-block;
  margin-left: 4px;
  border: 0.5px solid lightgrey;
  margin: 0px
}

.card_open_frame {
  text-align: center;
  height: 29px;
  width: 29px;
  background-color: lightgrey;
  border-radius: 50%;
  display: inline-block;
  margin-left: 4px;
  border: 0.5px solid lightgrey;
  margin: 0px
}

.card_open_frame svg {
  position: relative;
  top: -0.5px;
  right: -1.0px;
  color: white;
  margin: 0px
}
.card_open_frame:hover{
  background: radial-gradient(circle, white 40%, lightgrey 70%, grey 100%);
}
.card_open_frame:hover svg{
  color: brown;
}


.card_description_section {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.card_description {
  white-space: pre-wrap;
  width: 340px;
  height: 100%;
  overflow: scroll;
}

.card_icon_section {
  position: absolute;
  right: 3px;
  top: -15px;
}


.card_icon_frame {
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  margin-left: 4px;
  border: 0.5px solid blue;
}
.card_icon_frame svg {
  position: relative;
  top: -1.5px;
  color: blue;
}


