.deck {
  padding-top: 1em;
}

.deck_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5em;
}

.sub_menu {
 position: absolute;
 left: 0;
 z-index: 1000;
 display: none;
 float: none;
 font-size: 1rem;
 color: #212529;
 text-align: left;
 list-style: none;
 background-clip: padding-box;
}

.sub_menu.show {
  display: block;
}

button.button_up {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button.button_down {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.card_parent {
  opacity: 0.5;
}
.card_backlink {
  opacity: 0.6;
}
.card_connection {
  opacity: 0.7;
}

.table_divider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  margin-bottom: 4em;
}
.table_divider_parent {
  opacity: 0.2;
}




.card_marker-enter {
  opacity: 0;
}
.card_marker-enter-active {
  opacity: 1;
  transition: opacity 123ms;
}
.card_marker-exit {
  opacity: 1;
}
.card_marker-exit-active {
  opacity: 0;
  transition: opacity 123ms;
}
.card_marker-exit-done {
  opacity: 0;
}

.card_left-enter {
  opacity: 0;
  transform: translate(-115%);
}
.card_left-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: opacity 123ms, transform 123ms;
}
.card_left-exit {
  opacity: 1;
  transform: translate(0%);
}
.card_left-exit-active {
  opacity: 0;
  transform: translate(-115%);
  transition: opacity 123ms, transform 123ms;
}
.card_left-exit-done {
  opacity: 0;
  transform: translate(-115%);
}

.card_right-enter {
  opacity: 0;
  transform: translate(115%);
}
.card_right-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: opacity 123ms, transform 123ms;
}
.card_right-exit {
  opacity: 1;
  transform: translate(0%);
}
.card_right-exit-active {
  opacity: 0;
  transform: translate(115%);
  transition: opacity 123ms, transform 123ms;
}
.card_right-exit-done {
  opacity: 0;
  transform: translate(-115%);
}

