.save {
  text-align: center;
}
.save_string {
  font-size: x-small;
  overflow-wrap: break-word;
  height: 100px;
}
.close {
  position: absolute;
  top: 0px;
  right: 0px;
}

.save button {
  margin: 1em;
}
