.nav {
  padding-top: 50px;
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.nav li {
  position: relative;
}

.nav a {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 3px dashed #ccc;
  background: #999;
}

textarea {
  border: 2px solid #eee;
  width: 90%;
  border-radius: 10px;
}


.sidebar_close {
  position: fixed;
  left: 0px;
  top: 0px;
}

.sidebar {
  background: whitesmoke;
  z-index: 3333;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 40em;
  transform: translate(-100%);
  padding: 0.5em;
  padding-top: 2em;

}

.sidebar-enter {
  transform: translate(-100%);
}
.sidebar-enter-active {
  transform: translate(0%);
  transition: transform 333ms;
}
.sidebar-enter-done {
  transform: translate(0%);
  transition: transform 333ms;
}
.sidebar-exit {
  transform: translate(0%);
}
.sidebar-exit-active {
  background: whitesmoke;
  transform: translate(-100%);
  transition: transform 333ms;
}

.sidebar_cover {
  z-index: 3330;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: grey;
  display: none;
}

.sidebar_cover-enter {
  opacity: 0;
  display: block;
}
.sidebar_cover-enter-active {
  opacity: 0.7;
  transition: opacity 333ms;
}
.sidebar_cover-enter-done {
  opacity: 0.7;
  display: block;
}
.sidebar_cover-exit {
  opacity: 0.7;
}
.sidebar_cover-exit-active {
  opacity: 0.0;
  transition: opacity 333ms;
  display: none;
}
