 body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  font-family: 'OpenSans', sans-serif;
  min-height: 100%;
  background-image: url('./cheap_diagonal_fabric.png');
  background-repeat: repeat;
}

.page {
  width: 100%;
  background-image: url('./cheap_diagonal_fabric.png');
  background-repeat: repeat;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.transition{
  position: page;
  width: 100%;
  height: 5em;
  margin: 0;
  padding: 0.5px;
}
.titlebar {
  width: 100%;
  background-color: DarkCyan;
  padding: 0.5em;
  /* height: 3.5em; */
  padding-top: 1.00em;
  padding-bottom: 0.75em;
  text-align: center;
}
.titlebar_content {
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  text-align: center;
}
.titlebar_content div {
  display: inline;
  margin-left: 0.6em;
  margin-right: 0.6em;
}
.titlebar span, .titlebar button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: inherit;
  font-weight: normal;
  color: black;
  font-family: 'OpenSans', sans-serif;
  margin-left: 0.35em;
  margin-right: 0.35em;
}


.popup-content {
  border-radius: 10px;
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 1em;
}

button {
  margin: 0.25em;
  padding: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
  outline: none;
  height: 1.7em;
  border: 1px lightgrey solid;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button span {
  vertical-align: middle;
  position: relative;
  top: 1px;
}
